.container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
  justify-content: center;
  height:100%;
  flex-direction: column;

	align-items: center;
}

.strip{
  margin-top: 5em;
}
